extends ../../layout/defaultLayout.pug
include ../../mixins/form-search.pug
include ../../mixins/filterStatus.pug
include ../../mixins/form-change-status.pug
include ../../mixins/pagination.pug

block main 
    h1 !{title}