header.header.bg-dark
    .container-fluid 
        .row.align-items-center 
            .col-3 
                .inner-logo 
                    a.text-decoration-none(href="") Admin 
            .col-9